.main {
  position: relative;

  min-height: 100vh;

  padding: var(--size-unit-20) var(--size-unit-4) var(--size-unit-20);

  h4 {
    margin: 0 0 var(--size-unit-2);
    font-weight: var(--font-weight-normal);
  }

  @include tablet {
    padding: var(--size-unit-10) 160px 0;
  }
}

.loading {
  &Wrapper {
    position: absolute;

    top: 50vh;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.loadingBar {
  position: relative;

  width: 200px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: var(--size-unit-2);

  &Track {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: scaleX(var(--percentage, 0));
    transform-origin: top left;

    background-color: var(--color-black);
  }
}

.loadingMessage {
  text-align: center;

  padding-top: var(--size-unit-2);
}

.list {
  display: grid;

  grid-auto-flow: row;
  gap: var(--size-unit-6);

  padding: var(--size-unit-4) 0 var(--size-unit-12);
}

.header {
  padding-top: var(--size-unit-20);

  border-bottom: 2px solid var(--color-black);

  padding-bottom: var(--size-unit-6);
  margin-bottom: var(--size-unit-10);

  h2 {
    font-family: var(--font-family-headline);
    font-weight: normal;

    font-size: var(--font-size-xxx-large);
    margin: 0;

    line-height: 1;

    @include tablet {
      font-size: 7.5vw;
    }
  }

  .info {
    display: grid;

    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: 3fr 1fr;

      .right {
        text-align: right;
      }
    }
  }
}

.emptyWrapper {
  display: flex;

  justify-content: center;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuWrapper {
  position: fixed;
  align-self: flex-start;

  bottom: 0;
  left: 0;

  z-index: 10;

  width: 100%;

  .menu {
    background-color: var(--color-bg);
    padding: var(--size-unit-2) var(--size-unit-3);

    border-top: 2px solid var(--color-black);

    display: flex;

    flex-direction: column;
    align-items: flex-start;

    > * {
      margin-bottom: var(--size-unit-2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .menuBtn {
    width: calc(100% - 80px);
  }

  @include tablet {
    position: sticky;
    align-self: flex-start;

    top: var(--size-unit-10);
    right: 0;

    .menuBtn {
      width: auto;
    }

    .menu {
      position: absolute;

      right: 0;
      top: 0;

      border: 2px solid var(--color-black);

      width: auto;

      transform: translateX(50%);
    }
  }

  @include desktop {
    .menu {
      transform: none;
    }
  }
}
