:root {
  --color-beige: #fcf4e5;
  --color-green: #388e3c;
  --color-green-active: #1b5e20;
  --color-bg: #f8d2d5;
  --color-bg: #e26e4b;
  --color-bg: #f6be60;

  --color-white: #fffeff;
  --color-black: #1d1d1b;
}
