:root {
  --color-beige: #fcf4e5;
  --color-green: #388e3c;
  --color-green-active: #1b5e20;
  --color-bg: #f6be60;
  --color-bg-opacity: rgb(246, 190, 96, 0.75);

  --color-white: #fffeff;
  --color-black: #1d1d1b;
}
