:root {
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-medium: 23px;
  --font-size-large: 25px;
  --font-size-x-large: 28px;
  --font-size-xx-large: 36px;
  --font-size-xxx-large: 48px;

  --font-family-body: "Poppins", sans-serif;
  --font-family-headline: "Staatliches", sans-serif;

  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-weight-medium: 600;
}
